@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
}

*{
	box-sizing:border-box
	}

.clear{
	content:"";
	clear:both;
	display:block;
}
[class*="col-"]{
	float:left;
	padding:20px;
}
[class*="col-"]{
	width:100%;
}
img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:400px){
	 /* For mobile: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
	.fourmenu-m{
	background-color:#000;
	border-left:solid #FFF;
	border-bottom:solid #FFF 2px;
	color:#FFF;
	padding-left:5%;
	background:-moz-linear-gradient(left , #06C, #5EAEFF );
	background:-webkit-linear-gradient(left ,  #06C, #5EAEFF);
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:4.0vw;
	font-weight:bold;
	
}
.fourmenu-m a{
	color:#FFF;
	text-decoration:none;
}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.whiteback { background-color:#FFF; }

.orangeback { background-color:#FF8040; }
.about { background-color:#006;
		 }
.footer { background-color:#039cdf; }
.top{
	background-color:#039cdf;
	border-bottom:solid #FFF 2px;
}
.fourmenu{
	background-color:#000;
	border-left:solid #FFF;
	border-bottom:solid #FFF 2px;
	color:#FFF;
	padding-left:5%;
	background:-moz-linear-gradient(left , #06C, #5EAEFF );
	background:-webkit-linear-gradient(left ,  #06C, #5EAEFF);
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.2em;
	font-weight:bold;
	
}
.fourmenu a{
	color:#FFF;
	text-decoration:none;
}

.domestic{
	background-color:#6CB6FF;
	border-left:solid #FFF 2px;
	color:#FFF;
	font-size:36px;
	font-weight:bold;
	border-left:solid #FFF;
	border-bottom:solid #FFF 2px;
	
}
.domestic a{
	color:#FFF;
	text-decoration:none;
}

.gap{
	padding:0px;
	margin:0px;
	
	}
	
	.pad
	{
		box-sizing:border-box;
		padding: 10px 10px 10px 100px;
	}
	.head1
	{
		box-sizing:border-box;
		
		font-size:24px;
	}
	
	
/*.baggage{
	background-color:#6CB6FF;
	font-size:15px;
	background:-moz-linear-gradient(left , #06C, #B6E2F1, #5EAEFF );
	background:-webkit-linear-gradient(left ,  #06C, #5EAEFF);
	color:#FFF;
*/

.bt{
	border-top:solid #FFF 2px;
}

#form-design { box-sizing: border-box; }
@media only screen and (min-width: 550px) {
 	#form-design .txtinput, #form-design textarea,#buttons {
		width: 100%;
	}
	#buttons { display: block; padding-top: 10px; }
}


